//sublime: tab_size 2; translate_tabs_to_spaces true
extends content_with_menu

block container
  h1= title
  .span10#magento
    include loading
  .span10#json_shop
    include loading
    script
      get.magento.product.info("#{sku}", "#{filter_shop}", "#{storeView}", function (html) {
        $('#magento').html(html);
        get.json_shop.product.info_by_sku("#{sku}", function (html) {
          $('#json_shop').html(html);
        });
      });